**/*.rs.bk
.#*
.gdb_history
Cargo.lock
target/
command-parser/target
hid-host/target

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json